<html lang="en">
<body>
    <h1>
        <meta http-equiv="refresh" content="60">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../js/image_handler.js"></script>
        Ocean AI
    </h1>
    <div class="slide-show">
        <% files.forEach(function (image, i) { %>
          <div class="slide fade">
            <div class="numberText"> <%= i + 1 %> / <%= files.length%> </div>
            <img src = "<%= image %>" style="width:100%;">
            <div class="caption"> generated Image </div>
          </div>
        <% }) %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="APIS">
        <h2>Available API Calls</h2>
        <hr /><p> GET Sessions </p>
        <p>
          <form action="/get_session" method="GET">
            <label>Get Available Session: </label>
            <!-- Creating the submit button -->
            <button>Submit</button>
          </form>
        </p>
        <% if(sessions.length > 0){ %>
            <% sessions.forEach(session => { %>
                <h3> Session Name: <%= session.name%> </h3>
                <p> Activity: <%= session.kernel.last_activity%> </p>
                <p> Status: <%= session.kernel.execution_state%> </p>
            <% }) %>
        <% } else { %>
            <p>Currently No Session Available</p>
        <% } %>
    </div>
    <div>
        <p>
          <form action="/create_session" method="POST">
            <h3>Create New Session</h3>
            <label>Notebook Name: </label>
            <input class="input" id="notebook" name="notebook" type="name" value="" />
            <!-- Creating the submit button -->
            <button>Submit</button>
          </form>
        </p>
    </div>
</body>
</html>
